{%extends 'posts/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{image.image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <p class="text-center">
       {% autoescape on %} 
      {{ image.caption| safe }}
      {% endautoescape %}</p>
   </div>

   <div class="row">
     <p>Posted {{image.date_posted|timesince}} by {{user.username}}</p>
   </div>
   
   <div class="row">
     {% if comments %}
        {% if number == 1 %}
        <p>{{number}} comment</p>
        {% else %}
        <p>{{number}} comments</p>
        {% endif %}
        
        {% for comment in comments%}
        {% autoescape on %}
        <p>{{comment.content| safe}}</p>
        {% endautoescape %}
        <p>Posted by {{comment.owner.username}}</p>
        {% endfor%}
      {% else %}
      <p>No comments</p> 
      {% endif %} 
   </div>
 </div>

 {% endblock %}